.movies {
  margin: 0 auto;
  min-height: calc(100vh - 172px);
  display: flex;
  flex-direction: column;
}

.movies__more-btn {
  padding: 0;
  margin: 50px 70px 80px 70px;
  max-width: 1140px;
  height: 36px;
  background-color: #f4f4f4;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  cursor: pointer;
}

.movies__more-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px){
  .movies__more-btn {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 320px){
  .movies__more-btn {
    margin-right: 10px;
    margin-left: 10px;
  }
}