.not-found {
 margin: 0;
 padding: 0;
 padding-top: 246px;
 padding-bottom: 60px;
 display: flex;
 flex-direction: column;
 background-color: #fafafa;
}

@media screen and (max-width: 768px){
  .not-found {
    padding-top: 408px;
    padding-bottom: 222px;
  }
}

@media screen and (max-width: 320px){
  .not-found {
    padding-top: 329px;
    padding-bottom: 30px;
  }
}

.not-found__error-type {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 320px){
  .not-found__error-type {
    padding-bottom: 10px;
    font-size: 80px;
    line-height: 97px;
  }
}

.not-found__error-message {
  margin: 0;
  padding: 0;
  margin-bottom: 184px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 320px){
  .not-found__error-message {
    margin-bottom: 284px;
    font-size: 12px;
    line-height: 15px;
  }
}

.not-found__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #3456f3;
  cursor: pointer;
  text-align: center;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 320px){
  .not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}