.portfolio {
  background-color: #fafafa;
  margin: 0;
  padding: 0 70px 106px 70px;
}

@media screen and (max-width: 768px){
  .portfolio {
    padding: 0 50px 71px 50px;
  }
}

@media screen and (max-width: 320px){
  .portfolio {
    padding: 0 14px 53px 14px;
  }
}

.portfolio__title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
}

@media screen and (max-width: 768px){
  .portfolio__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px){
  .portfolio__title {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.portfolio__link {
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 9px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 320px){
  .portfolio__link {
    padding-bottom: 0;
    padding-top: 6px;
  }
}

.portfolio__link:last-of-type {
  border: none;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-name {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px){
  .portfolio__link-name {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px){
  .portfolio__link-name {
    font-size: 18px;
  }
}

.portfolio__link-icon {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #000000;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px){
  .portfolio__link-icon {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px){
  .portfolio__link-icon {
    font-size: 18px;
  }
}