.register {
  margin: 0 auto;
  padding: 70px 0 70px 0;
  max-width: 396px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px){
  .register {
    padding: 232px 0 232px 0;
  }
}

@media screen and (max-width: 460px){
  .register {
    padding: 56px 0 30px 0;
    align-items: center;
  }
}

.register__form {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  box-sizing: border-box;
}

.register__label {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 5px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  text-decoration: none;
}

.register__label:first-of-type {
  margin-top: 0;
}

.register__input {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #fafafa;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (max-width: 460px){
  .register__input {
    font-weight: 500;
  }
}

.register__error {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  text-decoration: none;
}

.register__button {
  margin: 0 auto;
  padding: 0;
  margin-top: 134px;
  background-color: #3456f3;
  color: #FFFFFF;
  min-width: 396px;
  min-height: 45px;
  border-radius: 3px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.register__button:hover {
  opacity: .8;
}

@media screen and (max-width: 460px){
  .register__button {
    min-width: 260px;
    margin-top: 222px;
    font-size: 12px;
    line-height: 15px;
  }
}

.register__in {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 217px;
}

@media screen and (max-width: 460px){
  .register__in {
    width: 100%;
  }
}

.register__in p {
  padding: 0;
  margin: 16px 6px 0 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

@media screen and (max-width: 460px){
  .register__in p {
    margin: 14px 7px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}

.register__login-link {
  padding: 0;
  margin: 16px 0 0;
  color: #3456f3;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
}

.register__login-link:hover {
  opacity: .7;
}

@media screen and (max-width: 460px){
  .register__login-link {
    margin: 14px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}

.register__logo {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  cursor: pointer;
}

.register__logo:hover {
  opacity: 0.8;
}

.register__signup {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 40px 0;
}

@media screen and (max-width: 460px){
  .register__signup {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}