.footer {
  padding: 79px 70px 20px 70px;
}

@media screen and (max-width: 768px){
  .footer {
    padding: 79px 30px 20px 30px;
  }
}

@media screen and (max-width: 320px){
  .footer {
    padding: 75px 10px 10px 10px;
  }
}

.footer__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a0;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #e8e8e8;
  max-width: 1140px;
  box-sizing: border-box;
  padding-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 768px){
  .footer__title {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 320px){
  .footer__title {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
  }
}

.footer__content {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 320px){
  .footer__content {
    flex-direction: column-reverse;
    margin-top: 30px;
    align-items: center;
    text-align: center;
  }
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 320px){
  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    margin-top: 18px;
    color: #a0a0a0;
  }
}

.footer__links {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 320px){
  .footer__links {
    flex-direction: column;
  }
}

.footer__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 320px){
  .footer__link {
    margin-bottom: 12px;
    margin-right: 0;
  }
}