.about-me {
  background-color: #fafafa;
  margin: 0;
  padding: 100px 70px;
}

@media screen and (max-width: 768px){
  .about-me {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 320px){
  .about-me {
    padding: 70px 14px;
  }
}

.about-me__title {
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  min-height: 50px;
}

@media screen and (max-width: 320px){
  .about-me__title {
    font-size: 18px;
    line-height: 22px;  }
}

.about-me__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 630px){
  .about-me__info {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 320px){
  .about-me__info {
    flex-direction: column-reverse;   
  }
}

.about-me__description {
  max-width: 600px;
}

@media screen and (max-width: 1100px){
  .about-me__description {
    max-width: 500px;
  }
}

@media screen and (max-width: 950px){
  .about-me__description {
    max-width: 364px;
  }
}

@media screen and (max-width: 700px){
  .about-me__description {
    max-width: 250px;
  }
}

@media screen and (max-width: 320px){
  .about-me__description {
    width: 100%;
  }
}

.about-me__name {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px){
  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px){
  .about-me__name {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }
}

.about-me__about {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
}

@media screen and (max-width: 768px){
  .about-me__about {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px){
  .about-me__about {
    font-size: 11px;
    line-height: 16px;
  }
}

.about-me__depiction {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
}

@media screen and (max-width: 768px){
  .about-me__depiction {
    margin-bottom: 58px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px){
  .about-me__depiction {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
}

.about-me__account {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.about-me__account:hover {
  opacity: 0.7;
}

.about-me__photo {
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 768px){
  .about-me__photo {
    max-width: 255px;
    max-height: 307px;
  }
}

@media screen and (max-width: 320px){
  .about-me__photo {
    max-width: 292px;
    max-height: 352px;
    margin-bottom: 40px;
  }
}